<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
   <h1>Admin Products</h1>

{% for product in products %}

<p>
    {{ product.name }}
</p>

    <form method="post"
          action="{% url 'admin_product_delete' product.pk %}"
          style="display:inline;">

        {% csrf_token %}

        <button type="submit">Delete</button>

    </form>

{% endfor %} 
</body>
</html>